# Table1 Queries

In [ ]:
1)     Write a SQL query to order records by a rental price  column in ascending order.
--- SELECT  * FROM `Table1` ORDER BY `Rental Price` ASC;

In [ ]:
2)    2 Write a SQL query  to select unique combinations of City and State with their average Rental Price.
------- SELECT `City`, `State Code`, AVG(`Rental Price`) AS `AverageRentalPrice`
FROM `Table1` GROUP BY `City`, `State Code`;

In [ ]:
 3)     Write a SQL query to select the top 5 highest deposit amounts with corresponding Address and City .
---- SELECT `Address`, `City`, `Deposit` FROM `Table1`
ORDER BY Deposit DESC LIMIT 5;

In [ ]:
4)      Write a SQL query to select the count of records for each Country along with the total deposit amount.
---- SELECT `Country`, COUNT(*) AS `RecordCount`, SUM(Deposit) AS `TotalDeposit` FROM `Table1` GROUP BY `Country`;

In [ ]:
 5)     Write a SQL query to select records with a Rental Price higher than the average Rental Price across all records.
---- SELECT * FROM `Table1`
WHERE `Rental Price` > (SELECT AVG(`Rental Price`) FROM `Table1`);

# Table2 Queries

In [ ]:
1)Write a SQL query to select the average area for each number of bedrooms.
--- SELECT `No of Beds`, AVG(`Area`) AS AverageArea
FROM `Table2`
GROUP BY `No of Beds`;

In [ ]:
2)   Write a SQL query to select records with more than one bathroom and pets allowed.
--- SELECT *
FROM `Table2`
WHERE `No of Bathroom` > 1 AND `Pets Allowed` = true;

In [ ]:
3)     Write a SQL query to select the top 3 records with the highest total area (bedrooms + bathrooms).
--- SELECT *,(`No of Beds` + `No of Bathroom`) AS `TotalArea`
FROM `Table2`
ORDER BY `TotalArea` DESC
LIMIT 3;

In [ ]:
 4)     Write a SQL query to select the count of records for each combination of bedrooms and bathrooms.
--- SELECT `No of Beds` AS `NumberOfBedrooms`,
       `No of Bathroom` AS `NumberOfBathrooms`,
       COUNT(*) AS `RecordCount`
FROM `Table2` GROUP BY `No of Beds`, `No of Bathroom`;

In [ ]:
 5)      Write a SQL query to  select records with the largest area where pets are allowed .
----- SELECT * FROM `Table2` WHERE `Pets Allowed` = true
ORDER BY `Area` DESC LIMIT 1;

# Table 3 Queries

In [ ]:
 1)     Write a SQL query to Select records where both Washer/Dryer and AC are available, and order by Sno.
---- SELECT *
FROM `Table3`
WHERE `Washer/Dryer` = true AND `AC` = true
ORDER BY `Sr_no`;

In [ ]:
2)      Write a SQL query to Select records where Hardwood floors are available but neither Roofdeck nor Storage is present, and order by Sno in descending order.
---- SELECT *
FROM `Table3`
WHERE `Woodenfloors` = true AND `roof_deck` = false AND `storage` = false
ORDER BY `Sr_no` DESC;

In [ ]:
3)     Write a SQL query to Select records where at least four amenities (AC, Parking, Dishwasher, Fireplace) are available, and order by Sno .
--- SELECT *
FROM `Table3`
WHERE (`AC` = true AND `Parking` = true AND `Dishwasher` = true AND `Fireplace` = true)
   OR (CASE WHEN `AC` = true THEN 1 ELSE 0 END +
       CASE WHEN `Parking` = true THEN 1 ELSE 0 END +
       CASE WHEN `Dishwasher` = true THEN 1 ELSE 0 END +
       CASE WHEN `Fireplace` = true THEN 1 ELSE 0 END) >= 4
ORDER BY `Sr_no`;

In [ ]:
  4)     Write a SQL query to Select records where neither Roofdeck nor Storage is available, and include the count of such records.
---- SELECT *  COUNT(*) OVER () AS RecordCount FROM `Table3`
WHERE `roof_deck` = false AND `storage` = false;

In [ ]:
5)     Write a SQL query to Select records with Parking and either Fireplace or Dishwasher, and include the count of records for each condition.
---   SELECT t3.*,
       (SELECT COUNT(*) FROM table3 WHERE `parking` = true) AS `ParkingCount`,
       (SELECT COUNT(*) FROM table3 WHERE `Fireplace` = true) AS `FireplaceCount`,
       (SELECT COUNT(*) FROM table3 WHERE `Dishwasher` = true) AS `DishwasherCount`
FROM Table3 t3
WHERE `parking` = true AND (`Fireplace` = true OR `Dishwasher` = true);

# Join SQL Queries  using all 3 tables

In [ ]:
1)     Write a SQL  subquery to find records with more than the average area and related details using table 1 and table 2.
-----  SELECT t1.*, t2.* FROM `Table1` t1 JOIN `Table2` t2 
ON t1.Sr_no = t2.Sr_no
WHERE t2.`Area` > (SELECT AVG(`Area`) FROM `Table2`);

In [ ]:
2)     Write a subquery to find records in table1 based on conditions pets allowed is ‘YES’  and no of bed is greater than 3   in table2.
--------  SELECT *
FROM `Table1`
WHERE `Sr_no` IN (
    SELECT t2.Sr_no
    FROM `Table2` t2
    WHERE t2.`Pets Allowed` = 'YES' AND t2.`No of Beds` > 3);

In [ ]:
3)        Write a SQL    subquery using both tables (2 and 3) to find records in Table2 with more than 2 bedrooms and related details from Table3 where AC is present .
---- SELECT t2.*, t3.*
FROM `Table2` t2
JOIN `Table3` t3 ON t2.`Sr_no` = t3.`Sr_no`
WHERE t2.`No of Beds` > 2 AND t3.`AC` = true;

In [ ]:
4)      Write a sql subquery  to find records in Table2 with pets allowed and a Dishwasher, and include related details from Table3.
---- SELECT t2.*, t3.*
FROM `Table2` t2
JOIN `Table3` t3 ON t2.`Sr_no` = t3.`Sr_no`
WHERE t2.`Pets Allowed` = 'YES' AND t3.`Dishwasher` = true;

In [ ]:
5)      Write a subquery  to find records in Table2 with the highest area and related details from Table3 where roofdeck is present.
---- SELECT t2.*, t3.*
FROM `Table2` t2
JOIN `Table3` t3 ON t2.`Sr_no` = t3.`Sr_no`
WHERE t2.`Area` = (SELECT MAX(`Area`) FROM Table2)
  AND t3.`roof_deck` = true;

In [ ]:
6)     Write a sql  Inner Join to combine information from table1 and table 2.

--- SELECT *
FROM `Table1`
INNER JOIN `Table2` ON `Table1`.`Sr_no` = `Table2`.`Sr_no`;

In [ ]:
7)     Write SQL  Subquery to find records in table1 with pets allowed and a Washer/Dryer, and include details from table2 and table3  .
---- SELECT t1.*, t2.*, t3.*
FROM `Table1` t1
JOIN `Table2` t2 ON t1.`Sr_no` = t2.`Sr_no`
JOIN `Table3` t3 ON t1.`Sr_no` = t3.`Sr_no`
WHERE t2.`Pets Allowed` = 'YES' AND t3.`Washer/Dryer` = true;